html, body{
    margin: 0px;
}

h1{
    background-color: black;
}

header{
    display: flex;
    justify-content: space-between;
}

aside{
    display: flex;
    position: 50%;
    }

nav {
    display: flex;
    justify-content: center;
    font-size: 100%;

    
}
ul {
    display:flex;


}
li {
    display: flex;

}
main {
    display: flex;
}

article {
    width: 100vw;
}

#blue {
    display:flex;
    justify-content: center;
    background-color: blueviolet;
    width: 100%;
    height: 100vh;
}

#red {
    display:flex;
    justify-content: center;
    background-color: red;
    width: 100%;
    height: 100vh;
}

@media screen and (min-width: 768px){
    body{
        background-color: aqua;

    }

}
