/* Mobil version */
html, body{
    margin: 0px;

}

header{
    display: flex;
    justify-content:right;
}

/* Min meny */
nav {
justify-content: right;
    display: flex;
    width: 100vw;
    font-size: 100%;
    color:#1E2529;
    position: fixed;
    left: 0; 
    right: 0; 
    top: 0;
    height: 30px;
    margin-bottom: 30px;
       
}
ul {
    padding: 0;
    list-style: none;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    }

li {
        display: flex;
        padding: 5%;
    }

/* menyns colors */

a:link {
color: lightgrey;
background-color: transparent;
text-decoration: none;
    }
 
a:hover {
color: gray;
background-color: transparent;
text-decoration: underline;
      }

a:visited {
color: gray;
background-color: transparent;
text-decoration: none;
      }

/*INNEHÅLL på min förstasida*/
main {
    display: flex;
}

section {
    display: flex;
    width: 100vw;
}


.imagecontainer {
    width: 75%;
    }

img{
    width:100%; /*Ligga hundra procent i lådan*/
    height: auto;  /*Justera uppåt oavsett vad som händer*/
}

/*TEXTEN PÅ CAROLINE OCH FRONT END DEVELOPER*/
.contentbox{
        color: aliceblue;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 2rem;
        text-align: center;
        margin: 40px 0px;
    }

/* Id:n text sidan*/
#textcontainer {
    display:flex;
    justify-content:left;
    background-color: #1E2529;
    width: 100%;
    height: 100vh;
    align-items: center;

    
}
/* Id:n för bildsidan*/
#photocontainer {
    display:flex;
    justify-content: center;
    background-color: #1E2529;
    width: 100%;
    height: 100vh;
    align-items: center;
    

    
}

footer {
    display: flex;
    justify-content: center;
    background-color: #171D20;
    color: aliceblue;
    padding: 5%;
}


/* desktop-anpassad kod */
@media screen and (min-width: 768px){
    .float-right-lg{
        float: right;
    }
    body{
        background-color: #171D20;

    }

}
